<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delta Shout Outs!!!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="javascripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="javascripts/apps.js" type="text/javascript"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<body>
<h1>Shout Outs to the Deltas!</h1>

<div class="container image">
    <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="images/deltamap.jpg" alt="Star Trek Delta Quadrant Map"></div>
    </div>
</div>
<!-- Wrapper for slides -->

<div class="col-xs-offset-3 col-xs-6">
<div class="item active">

<!--Start Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
        <li data-target="#myCarousel" data-slide-to="17"></li>
        <li data-target="#myCarousel" data-slide-to="18"></li>
        <li data-target="#myCarousel" data-slide-to="18"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">What a wonderful group we are!!! xoxo </div>
        <div class="item" id="div1"></div>
        <div class="item" id="div2"></div>
        <div class="item" id="div3"></div>
        <div class="item" id="div4"></div>
        <div class="item" id="div5"></div>
        <div class="item" id="div6"></div>
        <div class="item" id="div7"></div>
        <div class="item" id="div8"></div>
        <div class="item" id="div9"></div>
        <div class="item" id="div10"></div>
        <div class="item" id="div11"></div>
        <div class="item" id="div12"></div>
        <div class="item" id="div13"></div>
        <div class="item" id="div14"></div>
        <div class="item" id="div15"></div>
        <div class="item" id="div16"></div>
        <div class="item" id="div17"></div>
        <div class="item" id="div18"></div>
    </div>


    <!--End Carousel-->
</div>
  <div>
    <a class="left carousel-control" href="#shoutOut" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#shoutOut" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->





</body>
</html>


    <!--</div>-->
<!--<div id="shoutOuts" class="carousel slide" data-ride="carousel ">-->
    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-xs-offset-3 col-xs-6">-->
            <!--<div class="carousel-inner">-->
                <!--<div class="item active">-->
                    <!--<div class="carousel-content">-->
                        <!--<div class="active">-->
                            <!--<ul class="list-unstyled">-->
                           <!--<li> <h3>#1</h3></li>-->

                           <!--<li> <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p></li>-->
                                <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="carousel-content">-->
                        <!--<div>-->
                            <!--<h3>#2</h3>-->
                            <!--<p>This is another much longer item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="carousel-content">-->
                        <!--<div>-->
                            <!--<h3>#3</h3>-->
                            <!--<p>This is the third item.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!-- Controls -->
